    body {
        background-color: #a7f3d0;
    }
    
    #header {
        text-align: center;
    }
    
    #calculator {
        width: 62%;
        float: left;
    }
    
    #calc-main {
        margin: auto;
        padding: 20px;
        width: 290px;
        float: right;
        background-color: #2f2f2f;
        border-radius: 8px;
    }
    
    input[name="display"] {
        font-size: 40px;
        font-family: 'Baloo 2', cursive;
        height: 45px;
        width: 272px;
        margin: 20px 0;
        padding: 5px;
        border-radius: 8px;
        background-color: #ffffff;
    }
    
    .buttons {
        width: 55px;
        height: 55px;
        margin: 5px;
        font-size: 30px;
        border-radius: 8px;
    }
    
    input[name="doit"] {
        background-color: #f8811f;
    }
    
    input[name="clear"] {
        float: left;
        position: absolute;
        top: 400px;
        margin-left: 15px;
    }